
*{
    font-family:"Audiowide";
    font-size: 12px;
}
::before,::after{
    box-sizing: border-box;
}

body{  
margin: 0px;
padding-block: 10rem;

background-color: rgba(20, 19, 19, 0.928);


}

/*main section style */
.grid-container{
    display: grid;
    grid-template-columns: 570px 1fr;
    background-color: rgba(249, 252, 255, 0.959);
    height: 60rem;
}
/******************END***********************/

/* content 1*/
.first-container{
    background-image: url(/images/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

/*****************image-container**********************/
.image-container{
display: flex;
justify-content: center;
padding-top: 1rem;
margin-top: 12rem;
background-color: rgba(5, 5, 5, 0.518);
width: 100%;
height: 12rem;

}
.image-container > img{
    max-width:  100%;
}

.image-container > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image-container:last-child{
    color:  rgba(249, 252, 255, 0.959);
    
}
/****************END content 1*************************/



/******************second-container*************************/
.second-container{
    margin: 1rem;
    border: 1px solid greenyellow;
}


/**************************************END****************/